.settingsPanelRoot {

  display: flex;
  flex-direction: column;
}

.itemRow {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding-left: var(--half-spacing);
  padding-right: var(--half-spacing);
}

.menuSection {

  :global(.MuiMenuItem-root) {

    padding-left: var(--half-spacing);
    padding-right: var(--half-spacing);
  }
}
