.themePanelRoot {

  display: flex;
  flex-direction: column;

  :global(.MuiToolbar-root) {

    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;

    span {

      width: 40px;
    }
  }

  .itemRow {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--half-spacing);
    padding-left: var(--moderate-spacing);
    padding-right: var(--default-spacing);
  }

  .palettesSection {

    padding-left: var(--moderate-spacing);
    padding-right: var(--default-spacing);
    display: flex;
    flex-direction: column;

    .palettePanel {

      display: flex;
      flex-direction: column;
    }

    .coloursPreviewRow {

      display: flex;
      margin-top: 16px;
      margin-bottom: 16px;
      height: 64px;
      justify-content: stretch;

      div {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.333333333%
      }
    }
  }
}
