.appBarRoot {

  display: flex;
  flex-direction: column;

  :global(.MuiToolbar-root) {

    padding-right: var(--default-spacing);
  }

  :global(.MuiTabs-root) {

    button {

      padding-left: var(--moderate-spacing);
      padding-right: var(--moderate-spacing);
    }
  }
}
