:root {

  /* Base */
  --sizing-unit: 16px;

  /* Font & Line Sizes */
  --size-12: calc(var(--sizing-unit) * 0.75);
  --size-14: calc(var(--sizing-unit) * 0.875);
  --size-16: calc(var(--sizing-unit) * 1);
  --size-18: calc(var(--sizing-unit) * 1.125);
  --size-20: calc(var(--sizing-unit) * 1.25);
  --size-22: calc(var(--sizing-unit) * 1.375);
  --size-24: calc(var(--sizing-unit) * 1.5);
  --size-26: calc(var(--sizing-unit) * 1.625);
  --size-28: calc(var(--sizing-unit) * 1.75);
  --size-32: calc(var(--sizing-unit) * 2);
  --size-34: calc(var(--sizing-unit) * 2.125);
  --size-36: calc(var(--sizing-unit) * 2.25);
  --size-40: calc(var(--sizing-unit) * 2.5);
  --size-44: calc(var(--sizing-unit) * 2.75);
  --size-46: calc(var(--sizing-unit) * 2.875);

  /* Spacing */
  --half-spacing: calc(var(--sizing-unit) / 2);
  --default-spacing: calc(var(--sizing-unit) * 1);
  --moderate-spacing: calc(var(--sizing-unit) * 1.5);
  --large-spacing: calc(var(--sizing-unit) * 2);
  --extra-large-spacing: calc(var(--sizing-unit) * 4);
}

#root {

  display: flex;
  flex-direction: column;
  height: calc(100vh);
  overflow-y: hidden;
}
